{{- $email := .Values.letsEncryptClusterIssuer.email -}}
{{- $gatewayName := .Values.letsEncryptClusterIssuer.gateway.name -}}
{{- $gatewayNamespace := .Values.letsEncryptClusterIssuer.gateway.namespace -}}
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: {{ $email | quote }}
    privateKeySecretRef:
      name: letsencrypt-staging
    solvers:
      - http01:
          gatewayHTTPRoute:
            parentRefs:
              - name: {{ $gatewayName | quote }}
                namespace: {{ $gatewayNamespace | quote }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    email: {{ $email | quote }}
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      - http01:
          gatewayHTTPRoute:
            parentRefs:
              - name: {{ $gatewayName | quote }}
                namespace: {{ $gatewayNamespace | quote }}
